
[Desktop Entry]
Version=1.0
Name=CountOnMe
GenericName=CountOnMe
Exec=countonme
Icon=countonme-icon.png
Type=Application
Categories=Application;Education;
